@tailwind base;
@tailwind components;
@tailwind utilities;

.login-bg {
    background: url('../../public/login_waves.svg') no-repeat center center fixed;
    background-size: cover;
}

.register-bg {
    background: url('../../public/register_waves.svg') no-repeat center center fixed;
    background-size: cover;
}

.main-menu {
    background: url('../../public/polygon-scatter-haikei.svg') repeat center center fixed;
    animation: slide 50s linear infinite;
}

@keyframes slide {
    0% {
        background-position: 0% 0%;
    }

    100% {
        background-position: 120% 120%;
    }
}

.about-anim {
   position: absolute;
   top: 0;
   left: 0;
   bottom: 0;
   right: 0;
   z-index: -1;
   overflow: hidden;
   font-size: 10rem;
   opacity: 0.3;
   animation: uhh 50s linear infinite;
}

@keyframes uhh {
    0% {
        transform: translate(-30%, -30%);
    }

    100% {
        transform: translate(100%, 100%);
    }
}

.zobak::before {
    content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	left: 1.5em;
	border: .75rem solid transparent;
	border-bottom: none;
	border-top-color: inherit;
}

.zobak {
    transform: translate(5%, -100%);
    animation: fade 0.5s ease-out;
}

.zobak2::before {
    content: '';
	position: absolute;
	width: 0;
	height: 0;
	top: 100%;
	left: 50%;
    transform: translateX(-50%);
	border: .75rem solid transparent;
	border-bottom: none;
	border-top-color: inherit;
}

.zobak2 {
    transform: translate(0%, -100%);
    animation: fade 0.5s ease-out;
}

.uhh:hover {
    filter: brightness(5);
}

@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

th, td {
    border-color: #313537;
    border-width: 1px;
    text-align: center;
    padding-left: 5px;
    user-select: none;
    padding-right: 5px;
}

td {
    cursor: pointer;
    width: 5rem;
    padding-top: 20px;
    padding-bottom: 20px;    
}